html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -225px;
    /* Pad bottom by footer height */
    padding: 0 0 225px;
    background-color: #fafafa;
}

#body_container {
    max-width: 900px;
    left: 50%;
    padding: 20px;
    background-color: white;
}

#footer {
    width: 100%;
    height: 225px;
    padding: 10px;
    padding-top: 25px;
    bottom: 0;
    left: 0;
    margin-top: 20px;
    background-color: #222222;
    color: #dddddd;
    font-size: small;
}

#footer a:link {
    color: #aaaaaa;
}

#footer a:visited {
    color: #aaaaaa;
}
