#code_editor {
    width: 100%;
    height: 414px;
}

#editor_out {
    width: 100%;
    height: 200px;
    background-color: darkgray;
    white-space: pre-wrap;
}

#editor_canvas {
    width: 100%;
    height: 200px;
    background-color: lightgray;
}

#submit_result_container {
    padding: 15px;
}
