{% extends "base.html" %}

{% block scripts %}
    <script src="../../static/js/editor.js"></script>
{% endblock %}

{% block contents %}
    <p>This is the editor page.</p>
    <textarea id="code_editor" rows="2" cols="1"></textarea>
    <input type="button"
           onclick="submit_code({{ g.user.id }}, {{ assignment.id }})"
           value="Submit" />
    <div>
        <span id="loading" style="display: none">Loading...</span>
        <span id="success" style="display: none">Success! Go on to the next assignment.</span>
        <span id="fail" style="display: none">Sorry, your code doesn't work. Keep at it!</span>
    </div>
{% endblock %}