{% extends "base.html" %}

{% block scripts %}
    <script src="../../static/js/editor.js" type="text/javascript"></script>
    <script src="../../static/js/src-min/ace.js" type="text/javascript"></script>
    <script src="http://www.skulpt.org/static/skulpt.min.js" type="text/javascript"></script>
    <script src="http://www.skulpt.org/static/skulpt-stdlib.js" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../../static/css/editor.css">
{% endblock %}

{% block contents %}
    <h1>Assignment: <strong>{{ assignment.title }}</strong></h1>
    <p>{{ assignment.desc }}</p>
    <div class="row">
        <div class="col-md-9">
            <pre id="code_editor">{% if g.user.has_solved(assignment) %}{{ user_soln }}{% else %}print "All of your code should go here!"{% endif %}</pre>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12"><pre id="editor_out"></pre></div>
                <div class="col-md-12"><pre id="editor_canvas"></pre></div>
            </div>
        </div>
    </div>
    <script>
        // enable Ace editor
        var editor = ace.edit("code_editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/python");
    </script>
    <input type="button"
           class="btn btn-secondary btn-lg"
           onclick="skulpt_run(null, 'editor_out', 'editor_canvas')"
           value="Run" />
    <input type="button"
           class="btn btn-primary btn-lg"
           onclick="get_test({{ assignment.id }}, {{ g.user.id }})"
           value="Submit" />
    <!-- test_out: Used to collect printed test output. TODO: eliminate this. -->
    <pre id="test_out" style="display: none"></pre>
    <div id="submit_result_container">
        <div id="loading" style="display: none">
            Loading...
        </div>
        <div id="success" class="alert alert-success" style="display: none">
            <strong>Success!</strong> Go on to the next assignment.
        </div>
        <div id="fail" class="alert alert-danger" style="display: none">
            <strong>Oh, snap.</strong> Seems your code doesn't work. Fix up any bugs and try submitting again.
        </div>
    </div>
{% endblock %}