{% extends "base.html" %}

{% block contents %}
    <h1>Log In</h1>
    <form action="{{ url_for('login') }}" method="post" name="login">
        {{ login_form.hidden_tag() }}
        <p>{{ login_form.username(size=60) }}<br></p>
        <p>{{ login_form.password(size=60) }}<br></p>
        <p>Remember me {{ login_form.remember_me }}</p>
        <p><input type="submit" value="Log In"></p>
    </form>
    <br>
    <h1>Sign Up</h1>
    <form action="{{ url_for('signup') }}" method="post" name="signup">
        {{ signup_form.hidden_tag() }}
        <p>{{ signup_form.username }}<br></p>
        <p>{{ signup_form.email }}<br></p>
        <p>{{ signup_form.password }}<br></p>
        <p>Remember me {{ signup_form.remember_me }}</p>
        <p><input type="submit" value="Sign Up"></p>
    </form>
{% endblock %}