{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../../static/css/profile.css">
{% endblock %}

{% block contents %}
    <div class="row">
        <div class="col-md-3">
            <img src="{{ user.avatar(128) }}" class="img-circle">
        </div>
        <div class="col-md-9">
            <table>
                <tr><td><h1>{{ user.username }}</h1></td></tr>
                <tr><td><h3>{{ user.email }}</h3></td></tr>
            </table>
        </div>
    </div>
    <hr>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active" id="solved_asgns_ref">
            <a><h4>Solved Assignments <span class="badge">{{ user.get_num_solved() }}</span></h4></a>
        </li>
        <li role="presentation" id="unsolved_asgns_ref">
            <a><h4>Unsolved Assignments <span class="badge">{{ user.get_num_unsolved_visible() }}</span></h4></a>
        </li>
    </ul>
    <script>
        // Manage nav links
        var solved_asgns_ref = $('#solved_asgns_ref');
        var unsolved_asgns_ref = $('#unsolved_asgns_ref');
        solved_asgns_ref.click(function() {
            if(!solved_asgns_ref.hasClass('active')) {
                solved_asgns_ref.addClass('active');
                unsolved_asgns_ref.removeClass('active');
            }
            $('#unsolved_asgns_ls').hide();
            $('#solved_asgns_ls').show();
        });
        unsolved_asgns_ref.click(function() {
            if(!unsolved_asgns_ref.hasClass('active')) {
                unsolved_asgns_ref.addClass('active');
                solved_asgns_ref.removeClass('active');
            }
            $('#solved_asgns_ls').hide();
            $('#unsolved_asgns_ls').show();
        });
    </script>
    <!-- Solved assignments -->
    <div class="list-group" id="solved_asgns_ls">
        {% for solved_asgn in solved_asgns %}
            <a href="{{ url_for('editor', asgn_id=solved_asgn.id) }}" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-md-11">
                        <h2 class="list-group-item-heading">{{ solved_asgn.title }}</h2>
                        <p class="list-group-item-text">Due by {{ solved_asgn.date_due }} at 0:00 UTC</p>
                    </div>
                    <div class="col-md-1">
                        <h2><span class="glyphicon glyphicon-ok-sign"></span></h2>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <!-- Unsolved visible assignments -->
    <div class="list-group" id="unsolved_asgns_ls" style="display: none">
        {% for unsolved_asgn in unsolved_visible_asgns %}
            <a href="{{ url_for('editor', asgn_id=unsolved_asgn.id) }}" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-md-11">
                        <h2 class="list-group-item-heading">{{ unsolved_asgn.title }}</h2>
                        <p class="list-group-item-text">Due by {{ unsolved_asgn.date_due }} at 0:00 UTC</p>
                    </div>
                    {% if unsolved_asgn.due_date_passed() %}
                        <div class="col-md-1">
                            <h2><span class="glyphicon glyphicon-exclamation-sign"></span></h2>
                        </div>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}