<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <div class="row"><div class="col-md-12"><h4>Frameworks</h4></div></div>
                <div class="row"><div class="col-md-12"><a href="http://flask.pocoo.org/">Flask</a></div></div>
                <div class="row"><div class="col-md-12"><a href="http://skulpt.org/#">Skulpt</a></div></div>
                <div class="row"><div class="col-md-12"><a href="https://ace.c9.io">Ace</a></div></div>
                <div class="row"><div class="col-md-12"><a href="http://getbootstrap.com/">Bootstrap</a></div></div>
            </div>
            <div class="col-md-2">
                <div class="row"><div class="col-md-12"><h4>About</h4></div></div>
                <div class="row"><div class="col-md-12"><a href="http://digitalyork.org/">Digital York</a></div></div>
                <div class="row"><div class="col-md-12"><a href="http://jackromo.com/">Blog</a></div></div>
            </div>
            <div class="col-md-2">
                <div class="row"><div class="col-md-12"><h4>Pages</h4></div></div>
                <div class="row"><div class="col-md-12"><a href="{{ url_for('index') }}">Home</a></div></div>
                <div class="row"><div class="col-md-12"><a href="{{ url_for('resources') }}">Resources</a></div></div>
                <div class="row"><div class="col-md-12"><a href="{{ url_for('login') }}">Login or Signup</a></div></div>
                <div class="row"><div class="col-md-12"><a href="{{ url_for('profile') }}">Your Profile</a></div></div>
            </div>
            <div class="col-md-2">
                <div class="row"><div class="col-md-12"><h4>Connect</h4></div></div>
                <div class="row"><div class="col-md-12"><a href="https://twitter.com/YorkDigitalCity">Twitter</a></div></div>
                <div class="row"><div class="col-md-12"><a href="https://www.facebook.com/YorkDigitalCity/">Facebook</a></div></div>
                <div class="row"><div class="col-md-12"><a href="https://www.instagram.com/yorkdigitalcity/">Instagram</a></div></div>
                <div class="row"><div class="col-md-12"><a href="https://business.google.com/b/114050614213260517044/dashboard/l/16754225718615970744?pageId=114050614213260517044">Google+</a></div></div>
            </div>
        </div>
        <hr>
        <p>&copy; Digital York 20XX.</p>
    </div>
</div>